---
import BaseLayout from '../layouts/BaseLayout.astro';
import AuthForm from '../components/AuthForms';
import AuroraBackground from '../components/ui/AuroraBackground.astro';
---

<BaseLayout title="Create Account">
  <div class="min-h-screen flex items-center justify-center relative overflow-hidden pt-20 pb-20 px-4">
    <AuroraBackground />
    <div class="relative z-10 w-full">
      <AuthForm client:load type="signup" />
    </div>
  </div>
</BaseLayout>