---
import BaseLayout from '../layouts/BaseLayout.astro';
import UpdatePasswordForm from '../components/UpdatePasswordForm';
import AuroraBackground from '../components/ui/AuroraBackground.astro';
---

<BaseLayout title="Update Password">
  <div class="min-h-screen flex items-center justify-center relative overflow-hidden pt-20 pb-20 px-4">
    <AuroraBackground />
    <div class="relative z-10 w-full">
      <UpdatePasswordForm client:load />
    </div>
  </div>
</BaseLayout>