---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
import AdminAnnouncements from '../../components/dashboard/AdminAnnouncements';
---
<DashboardLayout>
  <div class="pt-8"><AdminAnnouncements client:only="react" /></div>
</DashboardLayout>