---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
import AdminEnrollments from '../../components/dashboard/AdminEnrollments';
---
<DashboardLayout>
  <div class="pt-8"><AdminEnrollments client:only="react" /></div>
</DashboardLayout>