---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
import AdminUserManager from '../../components/dashboard/AdminUserManager';
---
<DashboardLayout>
  <div class="pt-8"><AdminUserManager client:only="react" /></div>
</DashboardLayout>